@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Best Kawasaki eshop in the world!!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This eshop sells the best motorcycles on the market.</p>
<p>Author: Dominik Závada</p>
