@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Address";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Example address<br />
    Example, Random numbers 555 87<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support & contact:</strong> <a href="mailto:eshoputb@gmail.com">eshoputb@gmail.com</a><br />
</address>
